<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>日志面板</title>
    <link href="https://cdn.bootcss.com/simple-line-icons/2.4.1/css/simple-line-icons.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="@ViewBag.DashboardMapPath/css.tempusdominus-bootstrap-4.min.css" rel="stylesheet">
    <link rel="stylesheet" href="@ViewBag.DashboardMapPath/css.styles.css">
</head>
<body class="sidebar-fixed header-fixed">
    <div class="page-wrapper">
        <nav class="navbar page-header">
            <a href="#" class="btn btn-link sidebar-mobile-toggle d-md-none mr-auto">
                <i class="fa fa-bars"></i>
            </a>
            <a class="navbar-brand" href="https://github.com/liangshiw/LogDashboard" target="_blank">
                <h2>@ViewBag.Brand</h2>
            </a>
            <a href="#" class="btn btn-link sidebar-toggle d-md-down-none">
                <i class="fa fa-bars"></i>
            </a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item d-md-down-none">
                    <a href="/">
                        <i class="fa fa-reply-all"></i>
                    
                    </a>
                </li>
            </ul>
        </nav>
        <div class="main-container">
            <div class="sidebar">
                <nav class="sidebar-nav">
                    <ul class="nav">
                        <li class="nav-title">菜单</li>
                        <li class="nav-item">
                            <a id="mapPath" href="@ViewBag.DashboardMapPath" class="nav-link @ViewBag.dashboardNav">
                                <i class="icon icon-speedometer"></i> Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@ViewBag.DashboardMapPath/Dashboard/BasicLog" class="nav-link @ViewBag.basicLogNav">
                                <i class="icon icon-target"></i> 日志
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="content" id="content">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/Chart.js/2.7.2/Chart.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="@ViewBag.DashboardMapPath/js.moment.min.js"></script>
    <script src="@ViewBag.DashboardMapPath/js.tempusdominus-bootstrap-4.js"></script>
    <script src="@ViewBag.DashboardMapPath/js.spin.min.js"></script>
    <script src="@ViewBag.DashboardMapPath/js.log.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
