@model NLogDashboard.Model.ILogModel
@{
    Layout = "Views._layout.cshtml";
}
<div class="container-fluid">
    <div class="mb-4 open">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">概览</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#environment" role="tab" aria-controls="environment" aria-selected="false">环境</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="overview" role="tabpanel">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>时间</td>
                                <td class="text-nowrap">@Model.LongDate</td>
                            </tr>
                            <tr>
                                <td>日志类型</td>
                                <td class="text-nowrap"><button class="btn btn-outline-INFO">@Model.Level.ToUpper()</button></td>
                            </tr>
                            <tr>
                                <td>Logger</td>
                                <td class="text-nowrap">@Model.Logger</td>
                            </tr>
                            <tr>
                                <td>消息</td>
                                <td class="text-nowrap">@Model.Message</td>
                            </tr>

                        </tbody>
                    </table>
                    <div class="card">
                        <div class="card-header bg-light">
                            堆栈信息
                        </div>

                        <div class="card-body">
                            @Model.Exception
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="environment" role="tabpanel">
                <table class="table table-bordered">
                    <tbody>
                        @*<tr>
                            <td>请求方式</td>
                            <td class="text-nowrap">@Model.RequestMethod</td>
                        </tr>
                        <tr>
                            <td>请求地址</td>
                            <td class="text-nowrap">@Model.RequestUrl</td>
                        </tr>
                        <tr>
                            <td>客户端IP</td>
                            <td class="text-nowrap">@Model.RequestIp</td>
                        </tr>
                        <tr>
                            <td>UA</td>
                            <td class="text-nowrap">@Model.RequestUserAgent</td>
                        </tr>
                        <tr>
                            <td>用户身份</td>
                            <td class="text-nowrap">@Model.UserIdentity</td>
                        </tr>*@

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>